<a href="https://colab.research.google.com/github/ROARMarketingConcepts/Machine-Learning-Projects/blob/master/Building_Machine_Learning_Pipelines_in_PySpark_MLlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1 - Install Spark, load required libraries, set environment variables, initiate Spark, load file

Mount my Google drive where input files are located...

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
!tar xf spark-2.4.8-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"
import findspark
findspark.init()
from google.colab import files
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import isnan, when, count, col, lit
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.tuning import CrossValidator
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder

In [4]:
sc=SparkSession.builder.master("local[*]").getOrCreate()

In [5]:
!ls

data.csv  sample_data		     spark-2.4.8-bin-hadoop2.7.tgz
pipeline  spark-2.4.8-bin-hadoop2.7  spark-2.4.8-bin-hadoop2.7.tgz.1

Read in the "data.csv" file...

In [6]:
data=sc.read.csv('/content/data.csv',inferSchema=True,header=True)

Quickly examine the dataframe...

In [7]:
data.printSchema()
data.describe().toPandas().transpose()

root
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Engine Fuel Type: string (nullable = true)
 |-- Engine HP: integer (nullable = true)
 |-- Engine Cylinders: integer (nullable = true)
 |-- Transmission Type: string (nullable = true)
 |-- Driven_Wheels: string (nullable = true)
 |-- Number of Doors: integer (nullable = true)
 |-- Market Category: string (nullable = true)
 |-- Vehicle Size: string (nullable = true)
 |-- Vehicle Style: string (nullable = true)
 |-- highway MPG: integer (nullable = true)
 |-- city mpg: integer (nullable = true)
 |-- Popularity: integer (nullable = true)
 |-- MSRP: integer (nullable = true)

                       0  ...                   4
summary            count  ...                 max
Make               11914  ...               Volvo
Model              11914  ...                  xD
Year               11914  ...                2017
Engine Fuel Type   11911  ...    regular unleaded
Engine HP          11845  ...                1001
Engine Cylinders   11884  ...                  16
Transmission Type  11914  ...             UNKNOWN
Driven_Wheels      11914  ...    rear wheel drive
Number of Doors    11908  ...                   4
Market Category    11914  ...  Performance,Hybrid
Vehicle Size       11914  ...             Midsize
Vehicle Style      11914  ...               Wagon
highway MPG        11914  ...                 354
city mpg           11914  ...                 137
Popularity         11914  ...                5657
MSRP               11914  ...             2065902

[17 rows x 5 columns]

Define a function to replace 'N/A's in the dataset columns with null values

In [8]:
def replace(column,value):
  return when(column!=value,column).otherwise(lit(None))

data=data.withColumn("Market Category",replace(col("Market Category"),"N/A"))

Let's get a count of the null values in each column...

In [9]:
data.select([count(when(isnan(c)|col(c).isNull(),c)).alias(c) for c in data.columns]).show()

+----+-----+----+----------------+---------+----------------+-----------------+-------------+---------------+---------------+------------+-------------+-----------+--------+----------+----+
|Make|Model|Year|Engine Fuel Type|Engine HP|Engine Cylinders|Transmission Type|Driven_Wheels|Number of Doors|Market Category|Vehicle Size|Vehicle Style|highway MPG|city mpg|Popularity|MSRP|
+----+-----+----+----------------+---------+----------------+-----------------+-------------+---------------+---------------+------------+-------------+-----------+--------+----------+----+
|   0|    0|   0|               3|       69|              30|                0|            0|              6|           3742|           0|            0|          0|       0|         0|   0|
+----+-----+----+----------------+---------+----------------+-----------------+-------------+---------------+---------------+------------+-------------+-----------+--------+----------+----+

In [10]:
data=data.drop("Market Category")
data=data.na.drop()
print((data.count(),len(data.columns)))

(11812, 15)

Form the feature matrix "Attributes" for training a Random Forest regressor. The output vector will be "MSRP".

In [11]:
assembler = VectorAssembler(inputCols=["Year","Engine HP","Engine Cylinders","Number of Doors","highway MPG",
                                       "city MPG","Popularity"],outputCol="Attributes")

regressor = RandomForestRegressor(featuresCol="Attributes",labelCol="MSRP")
pipeline = Pipeline(stages=[assembler,regressor])
pipeline.write().overwrite().save('pipeline')   # ensure that we overwrite old pipelines
!ls

data.csv  sample_data		     spark-2.4.8-bin-hadoop2.7.tgz
pipeline  spark-2.4.8-bin-hadoop2.7  spark-2.4.8-bin-hadoop2.7.tgz.1